.mat-table {
  padding: 10px;
}

mat-form-field {
  width: 95vw;
}

mat-tool-bar {
  text-align: center;
  font-size-adjust: 1.3;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.pageSizeSelector {
  width: 5em;
}
