<h2>Profile information</h2>

<mat-form-field>
  <mat-label>Username</mat-label>
  <input matInput disabled value="{{userdata?.preferred_username}}">
</mat-form-field>

<mat-form-field>
  <mat-label>Authentication ID</mat-label>
  <input matInput disabled value="{{userdata?.sub}}">
</mat-form-field>

<mat-form-field>
  <mat-label>Last name</mat-label>
  <input matInput disabled value="{{userdata?.family_name}}">
</mat-form-field>

<mat-form-field>
  <mat-label>First name</mat-label>
  <input matInput disabled value="{{userdata?.given_name}}">
</mat-form-field>


<mat-form-field>
  <mat-label>Full name</mat-label>
  <input matInput disabled value="{{userdata?.name}}">
</mat-form-field>

<mat-form-field *ngIf="userdata?.email_verified">
  <mat-label>EMail</mat-label>
  <input matInput disabled value="{{userdata?.email}}">

  <mat-icon matSuffix>check</mat-icon>
</mat-form-field>

<mat-form-field *ngIf="!userdata?.email_verified">
  <mat-label>EMail</mat-label>
  <input matInput disabled value="{{userdata?.email}}">
  <mat-icon matSuffix>error</mat-icon>
  <mat-hint>Verify your EMail</mat-hint>
</mat-form-field>
