<h2 class="title">Profile information</h2>

<div class="profile-item">
  <b>Username: </b>
  <span>{{userdata?.preferred_username}}</span>
</div>

<div class="profile-item">
  <b>Authentication ID: </b>
  <span>{{userdata?.sub}}</span>
</div>

<div class="profile-item">
  <b>Last name: </b>
  <span>{{userdata?.family_name}}</span>
</div>


<div class="profile-item">
  <b>First name: </b>
  <span>{{userdata?.given_name}}</span>
</div>

<div class="profile-item">
  <b>Full name: </b>
  <span>{{userdata?.name}}</span>
</div>

<div class="profile-item">
  <b>EMail: </b>
  <span>{{userdata?.email}}</span>
</div>

<div class="profile-item">
  <b>Email verified: </b>
  <span>{{userdata?.email_verified}}</span>
</div>
