<div *ngIf="socialNetwork">
  <h2> Social Network </h2>

  <div>
    <label for="socialNetworkId">ID: </label>
    <input id="socialNetworkId" value="{{socialNetwork.id}}" readonly>
  </div>

  <div>
    <label for="name">Name: </label>
    <input id="name" [(ngModel)]="socialNetwork.name" placeholder="name">
  </div>

  <div>
    <label for="name">Description: </label>
    <input id="description" [(ngModel)]="socialNetwork.description" placeholder="description">
  </div>

  <div class="button-panel">
    <button type="button" (click)="onSave(socialNetwork)">Save</button>
    <button type="button" (click)="onCancel()">Cancel</button>
  </div>

</div>
