<div *ngIf="socialNetwork">
  <h2> Social Network </h2>

  <form [formGroup]="socialNetworkForm">
    <mat-form-field *ngIf="editing">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
  </form>

  <mat-toolbar>
    <span class="toolbar-spacer"></span>

    <button mat-icon-button (click)="onSave(socialNetwork)">
      <mat-icon>check</mat-icon>
    </button>
    <button mat-icon-button (click)="onCancel()">
      <mat-icon>cancel</mat-icon>
    </button>

    <span class="toolbar-spacer"></span>
  </mat-toolbar>

</div>
