<div *ngIf="socialNetwork">
  <h2> Social Network </h2>

  <form class="form">
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input matInput value="{{socialNetwork.id}}" name="id" [readonly]="true" [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="socialNetwork.name" name="name">
    </mat-form-field>

    <mat-form-field >
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="socialNetwork.description" name="description"></textarea>
    </mat-form-field>
  </form>

  <div class="button-panel">
    <button mat-icon-button (click)="onSave(socialNetwork)">
      <mat-icon>check</mat-icon>
    </button>
    <button mat-icon-button (click)="onCancel()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>

</div>
